body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

html {
	background-color:#5d5a5b;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.button{
	background-color: #f55447;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

.button:onclick{
	background-color: #f44336;

}

.button:hover{
	background-color: #f33225;
	outline: 0;
}

.discordbutton{
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	background-color: #667ed6;
	padding: 5px 22px;
	border-radius: 12px;
}

.discordbutton:onclick{
	background-color: #4663ce;
	outline: 0;
}

.discordbutton:hover{
	background-color: #5a74d3;
}
#Home {background-color: #4CAF50;}
#Project {background-color: #2196F3;}
#Settings {background-color: #f44336;}
#Nothing {background-color: #7289DA;}

.dropbtn {
	background-color: #f55447;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 12px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #f33225;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    min-width: 160px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color: #f1f1f1
}

.dropdown a:hover {background-color: #ddd}


.show {display:block;}
